{{define "title"}}Home{{end}}

{{define "main"}}
<div class="content-center">
    <h2>Welcome to the Toller Club.</h2>
    {{if .IsActive}}
        <p>Would you like to see the <a href="/member">Member List</a>?</p>
    {{else}}
        {{if .IsAuthenticated}}
            <p>Please activate your account by clicking the link in the email you were sent upon signing up.</p>
        {{else}}
            <p>Would you like to see the Member List?  Then please <a href="/user/login">Login.</a></p>
        {{end}}
    {{end}}
</div>
{{end}}