{{define "title"}}Login{{end}}

{{define "main"}}
<h1>User Login</h1>
<form action='/user/login' method='POST' novalidate>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{range .Form.NonFieldErrors}}
        <div class='error'>{{.}}</div>
    {{end}}
    <div>
        <label>Email:</label>
        <input type='email' name='email' value='{{.Form.Email}}'>
        {{with .Form.FieldErrors.email}}
            <label class='error'>{{.}}</label>
        {{end}}
    </div>
    <div>
        <label>Password:</label>
        <input type='password' name='password'>
        {{with .Form.FieldErrors.password}}
            <label class='error'>{{.}}</label>
        {{end}}
    </div>
    <div>
        <input type='submit' value='Login'>
    </div>
</form>
<div>
    <p>Need to create an account? <a href="/user/signup">Signup here!</a></p>
</div>
{{end}}