{{define "title"}}Member List{{end}}

{{define "main"}}
<div class="member-list">
    <h1>Club Members</h1>
    <table class="member-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Region</th>
            <th>Joined Date</th>
        </tr>
        {{range .Members}}
            <tr>
                <td><a href="/member/view/{{.ID}}">{{.FirstName}} {{.LastName}}</td>
                <td>{{.Email.String}}</td>
                <td>{{.Region}}</td>
                <td>{{humanDate .JoinedDate.Time}}</td>
            </tr>
        {{end}}
    </table>
</div>
{{end}}