{{define "nav"}}
<div class="header-left">
    <img id="nav-title" src="/static/images/nsdtrc-logo.jpg">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href='/member/'>Member List</a></li>
        </ul>        
    </nav>   
</div>

<div class="header-right">
    <nav >
        <ul>
            {{if .IsAuthenticated}}
            <li ><form action='/user/logout' method='POST'>
                <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                <button>Logout</button>
            </form></li>
                
            {{else}}
                <li><a href='/user/login'>Login/Signup</a></li>
            {{end}}
        </ul>        
    </nav>  
</div>
 

{{end}}