{{define "nav"}}
<nav>
    <ul class="main-nav">
        <li><a href='/'>Home</a></li>
        {{if .IsActive}}
            <li><a href='/member/create'>Create Member</a></li>
        {{end}}

        {{if .IsAuthenticated}}
        <div class="push">
            <form action='/user/logout' method='POST'>
                <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                <button class="nav-button">Logout</button>
            </form>
        </div>
        {{else}}
            <li class="push"><a href='/user/login'>Login/Signup</a></li>
        {{end}}
    </ul>
</nav>
{{end}}