
body {
    background-color: lightblue;
    margin: auto;
}

header{
    max-width: 100%;
}

header img {
    width: 100%;
}

.main-nav {
    display: flex;
    background-color: lightyellow;
    margin-top: 0px;
    list-style-type: none;
    height: 40px;
}

.nav-button {
    background-color: lightyellow;
    border-style: none;
}

.nav-button {
    background-color: lightyellow;
    border-style: none;
    padding: 10px;
    margin: 0px;
}

.main-nav .nav-button:hover {
    background-color: darkblue;
    color: lightyellow;
}

.main-nav li {
    padding-top: 10px;
}

.main-nav a {
    text-decoration: none;
    padding: 11px;
}

.main-nav a:hover {
    background-color: darkblue;
    color: lightyellow;
}
  
.push {
    margin-left: auto;
    padding-right: 10px;
}

.content {
    max-width: 90%;
    margin-left: 5%;
    text-align: center;
}

footer {
    display: flex;
    padding: .5em;
    background-color: lightyellow;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.label {
    display: flex;
    float: left;
}

.datafield {
    display: flex;
}

.error {
    color: red;
}

.flash {
    color: yellow;
}