/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 1px 8px #ddd; */
    font-family: arial, sans-serif;
    background-color: beige;
}

header img{
    height: 100px;
    margin-right: 10px;
}
.header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header-right {
    display: flex;
    justify-content: flex-end;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #b2dfdb;
}

header button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #555;
    cursor: pointer;
    font-size: 100%;
}

#logo {
    height: 40px;
    padding-left: 5px;
}


body {
    background-color: white;
}

.content {
    max-width: 90%;
    margin-left: 5%;
    padding: 20px;
    background-color: azure;
}

.content-center {
    max-width: 90%;
    margin-left: 5%;
    padding: 20px 0px;
    background-color: azure;
    text-align: center;
}

.label {
    display: flex;
    float: left;
}

.datafield {
    display: flex;
}

.error {
    color: red;
}

.flash {
    color: green;
}

.member-list {
    text-align: center;
    width: 100%;
}

.member-view {
    text-align: left;
    width: 98%;
    margin: 1%;
}

table {
    border-collapse: collapse;
    width: 98%;
    margin: 0% 1%;
    margin-bottom: 1%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

p {
    padding: 2px;
}

.row {
    display: flex;
    margin: 0 -16px;
  }
  
  .col-25 {
    flex: 25%;
  }
  
  .col-50 {
    flex: 50%;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }
  
  .col-75 {
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }

  .top-pad {
    padding-top: 25px;
  }

  input[type=text] {
    width: 10%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  input[type=checkbox] {
    margin-bottom: 10px;
    padding: 5px;
  }

  input[type=number] {
    width: 25%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

select {
    width: 50%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_checkout_form*/